html, body {
  height: 100%;
  width: 100%;
  margin:0px;
  padding:0px;
  font-size:16px;
  text-rendering:optimizelegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
}

 #map {
  width:100%;
  height:640px;
}
